# Site settings
repository: juju-solutions/kubernetes-docs
topnav_title: Canonical Kubernetes Documentation
site_title: 'Canonical&nbsp;Distribution&nbsp;of&nbsp;Kubernetes<sup>&reg;</sup>'
site_logo_url: https://assets.ubuntu.com/v1/1db850da-K8s+logo.svg
company_name: Canonical
github_editme_path: juju-solutions/kubernetes-docs/blob/master/
disqus_shortname: artful-badger
google_analytics: GTM-K92JCQ
host: 127.0.0.1
port: 4000
exclude:
  - .idea/
  - .gitignore
feedback_subject_line: Kubernetes Docs
feedback_email: nick.veitch@canonical.com
# feedback_disable: true
# feedback_text: "Need help?"
# feedback_link: "http://helpy.io/"
highlighter: rouge
collections:
  tooltips:
    output: false
# collections are declared here. this renders the content in _tooltips and processes it, but doesn't output it as actual files in the output unless you change output to true

title: Your awesome title
email: your-email@domain.com
description: > # this means to ignore newlines until "baseurl:"
  Write an awesome description for your new site here. You can edit this
  line in _config.yml. It will appear in your document head meta (for
  Google search results) and in your feed.xml site description.
url: https://www.ubuntu.com/kubernetes/docs
baseurl: /
github_username:  jekyll
defaults:
  -
    scope:
      path: ""
      type: "pages"
    values:
      layout: "base"
      comments: true
      search: true
      sidebar: home_sidebar
      topnav: topnav
  -
    scope:
      path: ""
      type: "tooltips"
    values:
      layout: "page"
      comments: true
      search: true
      tooltip: true

  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
      comments: true
      search: true
      sidebar: home_sidebar
      topnav: topnav

# these are defaults used for the frontmatter for these file types
# Plugins
plugins_dir: ./_plugins
plugins:
  - jekyll-redirect-from

sidebars:
- home_sidebar
- mydoc_sidebar
- product1_sidebar
- product2_sidebar
- other
# Build settings
markdown: kramdown
kramdown:
 input: GFM
 auto_ids: true
 hard_wrap: false
 syntax_highlighter: rouge
whitelist:
  - jekyll-redirect-from
