<aside class="p-sidebar" id="navigation">
  <div class="p-sidebar__banner u-hide--medium u-hide--large">
    <i class="p-sidebar__toggle p-icon--menu"></i>
  </div>
  <div class="p-sidebar__content u-hide--small">

    <label for="version-select">Contents</label>

    <nav class="p-sidebar-nav">
      <ul class="p-sidebar-nav__list">
        <li class="p-sidebar-nav__item first-level">

            <a class="p-link--strong" href="about-juju">About</a>

        </li>
      </ul>
    </nav>
  </div>
</aside>



<nav class="p-sidebar-nav">
  <ul class="p-sidebar-nav__list">

    <li class="p-sidebar-nav__item first-level">

        <a class="p-link--strong is-active" href="index">Get started</a>


      <ul class="p-sidebar-nav__list">

          <li class="p-sidebar-nav__item">

              <a class="p-link--soft" href="index">


              About MAAS


              </a>


          </li>

          <li class="p-sidebar-nav__item">

              <a class="p-link--soft" href="intro-explore">


              Explore MAAS


              </a>


          </li>

          <li class="p-sidebar-nav__item">

              <a class="p-link--soft" href="intro-new">


              What's new in 2.4


              </a>


          </li>

          <li class="p-sidebar-nav__item">

              <a class="p-link--soft" href="intro-requirements">


              Requirements


              </a>


          </li>

      </ul>

    </li>

    <li class="p-sidebar-nav__item first-level">

        <a class="p-link--strong" href="installconfig-snap-install">User guide</a>


      <ul class="p-sidebar-nav__list">

          <li class="p-sidebar-nav__item">

              <a class="p-link--soft" href="installconfig-snap-install">


              Install MAAS


              </a>


          </li>

          <li class="p-sidebar-nav__item">

              <a class="p-link--soft" href="installconfig-webui">


              Access the web UI


              </a>


          </li>

          <li class="p-sidebar-nav__item">


              <strong>

              Controllers

              </strong>



            <ul class="p-sidebar-nav__list">

                <li class="p-sidebar-nav__item">

                    <a class="p-link--soft" href="installconfig-rack">Rack controller</a>

                </li>

            </ul>

          </li>

          <li class="p-sidebar-nav__item">


              <strong>

              Nodes

              </strong>
