<header id="navigation" class="p-navigation">
        <div class="p-navigation__banner">
          <div class="p-navigation__logo">
            <a class="p-navigation__link" href="{{ site.url }}">
              <img class="p-navigation__image" src="{{site.site_logo_url}}" alt="site logo" />
              <h4>{{site.site_title}}</h4>
            </a>
          </div>
          <a href="#navigation" class="p-navigation__toggle--open" title="menu">Menu</a>
          <a href="#navigation-closed" class="p-navigation__toggle--close" title="close menu">Close menu</a>
        </div>
        <nav class="p-navigation__nav" role="menubar">

  <!--        <form id="search" class="p-search-box" action="https://docs.ubuntu.com/search">
            <input type="search" class="p-search-box__input" name="q" placeholder="Search" required="">

              <input type="hidden" name="domain" value="{{site.url}}" />

            <button type="reset" class="p-search-box__reset u-no-margin--right" alt="reset"><i class="p-icon--close"></i></button>
            <button type="submit" class="p-search-box__button" alt="search"><i class="p-icon--search"></i></button>
          </form>
-->

          <ul class="p-navigation__links" role="menu">
              <li class="p-navigation__link" role="menuitem"><a href="https://www.ubuntu.com/kubernetes/">Home</a></li>

              <li class="p-navigation__link {% if page.url contains 'news' %}is-selected{% endif %}" role="menuitem"><a href="/news">News</a></li>

              <li class="p-navigation__link " role="menuitem"><a href="https://charmhub.io/charmed-kubernetes/" target="_blank">Store</a></li>

              <li class="p-navigation__link " role="menuitem"><a href="https://github.com/juju-solutions/bundle-canonical-kubernetes/" target="_blank">Source</a></li>

              <li class="p-navigation__link {% if page.url != '/news/index.html' %}is-selected{% endif %}" role="menuitem"><a href="/">Docs</a></li>

          </ul>

          <span class="u-off-screen">
            <a href="#main-content">Jump to main content</a>
          </span>
        </nav>
      </header>
