<!doctype html>
<html lang="en">

  <head>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-K92JCQ');</script>
    <!-- End Google Tag Manager -->


    <meta charset="UTF-8" />
    <title>{{ page.context.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="" type="image/x-icon" />

        {% include vanilla-overrides.html %}

  </head>

  <body>


    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K92JCQ"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->


    <div class="docs-container">

  {% include header.html %}

  {% include sidenav.html %}


      <main class="p-content" id="main-content">
        <div class="p-strip is-shallow">
          <div class="p-content__row">


            <h1>{{ page.context.title }}</h1>

{{ content }}

          </div>
        </div>

        {% include footer.html %}
      </main>



    </div>
    <script>
      // Toggle mobile sidebar nav
      var toggle = document.querySelector('.p-sidebar__toggle');
      var sidebarContent = document.querySelector('.p-sidebar__content');

      toggle.addEventListener('click', function(e) {
        toggle.classList.toggle('p-icon--menu');
        toggle.classList.toggle('p-icon--close');
        sidebarContent.classList.toggle('u-hide--small');
      });

      // Add classes to links
      var links = document.querySelectorAll('a');
      links.forEach(function(link) {
        var parentClass = link.parentNode.classList;
        var ignoreNav = !(
          parentClass.contains('p-navigation__logo') ||
          parentClass.contains('p-navigation__link') ||
          parentClass.contains('p-sidebar-nav__item') ||
          parentClass.contains('p-inline-list__item')
        );
        if (link.hostname && link.hostname != location.hostname && ignoreNav) {
          link.className += ' p-link--external';
        }
      });

      function selectVersion(value) {
        var href = value.replace(/.md$/, "");
        location = href;
      }
    </script>
  </body>
</html>
